# 開発用環境変数テンプレート (.env にリネームして使用してください)
LISTEN_ADDR="127.0.0.1:8080"
BCAST_ADDR="192.168.0.255"
TARGET_MAC="XX:XX:XX:XX:XX:XX"
TARGET_IP="192.168.0.123:22"
TARGET_USER="user"
SSH_KEY_PATH="./id_ed25519"
